{{!< default}}

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
	<img class="blog-logo" src="{{@blog.logo}}" alt="{{@blog.title}}">
	<h1 class="page-title">{{@blog.title}}</h1>
    <h2 class="page-description">"{{@blog.description}}"</h2>
</main>
